<!DOCTYPE html>
<html>
<head>
  <title>PiNAS</title>
  <%= render "shared/head" %>
</head>
<body>

<%= render "shared/header" %>

<div class="container">
  <span class="col-md-8 col-md-offset-2">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
    <%= render "shared/footer" %>
    <%= debug(params) if Rails.env.development? %>
  </span>
</div>

</body>
</html>
